<?xml version="1.0" encoding="UTF-8"?>
<plugin>
     <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution objectClass="org.eclipse.core.runtime.IAdaptable" id="com.aide.contribution">
         <action
               class="com.aide.actions.AboutAideAction"
               enablesFor="1"
               id="com.aide.actions.AboutAideAction"
               label="About Aide..."
               menubarPath="aide/2">
         </action>
         <action
               class="com.aide.actions.OpenWithNotepadAction"
               enablesFor="1"
               id="com.aide.actions.OpenWithNotepadAction"
               label="Open With Notepad..."
               menubarPath="aide/0">
            <enablement>
               <or>
                  <objectClass
                        name="org.eclipse.jdt.internal.core.CompilationUnit">
                  </objectClass>
                  <objectClass
                        name="org.eclipse.core.resources.IFile">
                  </objectClass>
                  <objectClass
                        name="org.eclipse.ui.part.FileEditorInput">
                  </objectClass>
               </or>
            </enablement>
         </action>
         <action
               class="com.aide.actions.EditWithVimAction"
               enablesFor="1"
               id="com.aide.actions.EditWithVimAction"
               label="Open With Vim..."
               menubarPath="aide/0">
            <enablement>
               <or>
                  <objectClass
                        name="org.eclipse.jdt.internal.core.CompilationUnit">
                  </objectClass>
                  <objectClass
                        name="org.eclipse.core.resources.IFile">
                  </objectClass>
                  <objectClass
                        name="org.eclipse.ui.part.FileEditorInput">
                  </objectClass>
               </or>
            </enablement>
         </action>
         <action
               class="com.aide.actions.OpenWithDefaultAction"
               enablesFor="1"
               id="com.aide.actions.OpenWithDefaultAction"
               label="Open With Default..."
               menubarPath="aide/0">
            <enablement>
               <or>
                  <objectClass
                        name="org.eclipse.jdt.internal.core.CompilationUnit">
                  </objectClass>
                  <objectClass
                        name="org.eclipse.core.resources.IFile">
                  </objectClass>
                  <objectClass
                        name="org.eclipse.ui.part.FileEditorInput">
                  </objectClass>
               </or>
            </enablement>
         </action>
         <action
               class="com.aide.actions.OpenWithUltraEditAction"
               enablesFor="1"
               id="com.aide.actions.OpenWithUltraEditAction"
               label="Open With UltraEdit..."
               menubarPath="aide/0">
            <enablement>
               <or>
                  <objectClass
                        name="org.eclipse.jdt.internal.core.CompilationUnit">
                  </objectClass>
                  <objectClass
                        name="org.eclipse.core.resources.IFile">
                  </objectClass>
                  <objectClass
                        name="org.eclipse.ui.part.FileEditorInput">
                  </objectClass>
               </or>
            </enablement>
         </action>
         <action
               class="com.aide.actions.EditWithEditPlusAction"
               enablesFor="1"
               id="com.aide.actions.EditWithEditPlusAction"
               label="Open With Editplus..."
               menubarPath="aide/0">
            <enablement>
               <or>
                  <objectClass
                        name="org.eclipse.jdt.internal.core.CompilationUnit">
                  </objectClass>
                  <objectClass
                        name="org.eclipse.core.resources.IFile">
                  </objectClass>
                  <objectClass
                        name="org.eclipse.ui.part.FileEditorInput">
                  </objectClass>
               </or>
            </enablement>
         </action>
         <action
               class="com.aide.actions.CopyName2ClipBoardAction"
               enablesFor="1"
               id="com.aide.actions.CopyName2ClipBoardAction"
               label="Copy Path To ClipBoard...d..."
               menubarPath="aide/1">
            <enablement>
               <or>
                  <objectClass
                        name="org.eclipse.jdt.internal.core.CompilationUnit">
                  </objectClass>
                  <objectClass
                        name="org.eclipse.jdt.internal.core.PackageFragment">
                  </objectClass>
                  <objectClass
                        name="org.eclipse.core.resources.IFile">
                  </objectClass>
                  <objectClass
                        name="org.eclipse.ui.part.FileEditorInput">
                  </objectClass>
                  <objectClass
                        name="org.eclipse.jdt.internal.core.JavaProject">
                  </objectClass>
                  <objectClass
                        name="org.eclipse.jdt.internal.core.PackageFragmentRoot">
                  </objectClass>
                  <objectClass
                        name="org.eclipse.core.resources.IFolder">
                  </objectClass>
               </or>
            </enablement>
         </action>
         <action
               class="com.aide.actions.OpenCommandAction"
               definitionId="com.aide.explorer.command.OpenCommand"
               enablesFor="1"
               id="com.aide.actions.OpenCommandAction"
               label="Command..."
               menubarPath="aide/1">
            <enablement>
               <or>
                  <objectClass
                        name="org.eclipse.jdt.internal.core.CompilationUnit">
                  </objectClass>
                  <objectClass
                        name="org.eclipse.jdt.internal.core.PackageFragment">
                  </objectClass>
                  <objectClass
                        name="org.eclipse.core.resources.IFile">
                  </objectClass>
                  <objectClass
                        name="org.eclipse.ui.part.FileEditorInput">
                  </objectClass>
                  <objectClass
                        name="org.eclipse.jdt.internal.core.JavaProject">
                  </objectClass>
                  <objectClass
                        name="org.eclipse.jdt.internal.core.PackageFragmentRoot">
                  </objectClass>
                  <objectClass
                        name="org.eclipse.core.resources.IFolder">
                  </objectClass>
               </or>
            </enablement>
         </action>
         <action
               class="com.aide.actions.BrowseDirAction"
               definitionId="com.aide.explorer.Browse"
               enablesFor="1"
               id="com.aide.actions.BrowseDirAction"
               label="Browse Directory..."
               menubarPath="aide/1">
            <enablement>
               <or>
                  <objectClass
                        name="org.eclipse.jdt.internal.core.CompilationUnit">
                  </objectClass>
                  <objectClass
                        name="org.eclipse.jdt.internal.core.PackageFragment">
                  </objectClass>
                  
                  <objectClass
                        name="org.eclipse.core.resources.IFile">
                  </objectClass>
                  <objectClass
                        name="org.eclipse.ui.part.FileEditorInput">
                  </objectClass>
                  <objectClass
                        name="org.eclipse.jdt.internal.core.JavaProject">
                  </objectClass>
                  <objectClass
                        name="org.eclipse.jdt.internal.core.PackageFragmentRoot">
                  </objectClass>
                  <objectClass
                        name="org.eclipse.core.resources.IFolder">
                  </objectClass>
                  <objectClass
                        name="org.eclipse.core.internal.resources.Project">
                  </objectClass>
               </or>
            </enablement>
         </action>
         <menu
               id="aide"
               label="Aide Explorer">
            <groupMarker
                  name="0">
            </groupMarker>
            <separator
                  name="aide.separator1">
            </separator>
            <groupMarker
                  name="1">
            </groupMarker>
            <separator
                  name="aide.separator2">
            </separator>
            <groupMarker
                  name="2">
            </groupMarker>
         </menu>
      </objectContribution>
      
      
      
      
      
      
   </extension>
     <extension
           point="org.eclipse.ui.preferencePages">
        <page
              class="com.aide.explorer.preferences.AidePreferencePage"
              id="com.aide.explorer.preferences.AidePreferencePage"
              name="Aide">
        </page>
     </extension>
     <extension
           point="org.eclipse.core.runtime.preferences">
        <initializer
              class="com.aide.explorer.preferences.PreferenceInitializer">
        </initializer>
     </extension>
     <extension
           point="org.eclipse.ui.actionSets">
        <actionSet
              id="aide.actionSet"
              label="aide action"
              visible="true">

         <action
               class="com.aide.actions.AideOpenManifestAction"
               definitionId="com.aide.explorer.OpenManifest"
               icon="icon/plugin_mf_obj.gif"
               id="com.aide.pde.ui.OpenManifestAction2"
               label="Open Manifest"
               style="push"
               toolbarPath="aide">
            <enablement>
            	<and>
	               <objectState
	                     name="projectNature"
	                     value="org.eclipse.pde.PluginNature">
	               </objectState>
                <or>
                   <objectClass
                         name="org.eclipse.jdt.internal.core.JavaProject">
                   </objectClass>
                </or>
            	</and>
            </enablement> 
         </action> 

           <action
                 allowLabelUpdate="true"
                 class="com.aide.actions.OpenCommandAction"
                 definitionId="com.aide.explorer.command.OpenCommand"
                 icon="icon/cmd.png"
                 id="aide.command.action"
                 label="Command"
                 style="push"
                 toolbarPath="aide"
                 tooltip="show command window">
              <enablement>
                 <or>
                    <objectClass
                          name="org.eclipse.jdt.internal.core.CompilationUnit">
                    </objectClass>
                    <objectClass
                          name="org.eclipse.jdt.internal.core.PackageFragment">
                    </objectClass>
                    <objectClass
                          name="org.eclipse.core.resources.IFile">
                    </objectClass>
                    <objectClass
                          name="org.eclipse.ui.part.FileEditorInput">
                    </objectClass>
                    <objectClass
                          name="org.eclipse.jdt.internal.core.JavaProject">
                    </objectClass>
                    <objectClass
                          name="org.eclipse.jdt.internal.core.PackageFragmentRoot">
                    </objectClass>
                    <objectClass
                          name="org.eclipse.core.resources.IFolder">
                    </objectClass>
                    <objectClass
                          name="org.eclipse.core.internal.resources.Project">
                    </objectClass>
                 </or>
              </enablement>
           </action>
           <action
                 allowLabelUpdate="true"
                 class="com.aide.actions.BrowseDirAction"
                 definitionId="com.aide.explorer.Browse"
                 icon="icon/folder-open.gif"
                 id="aide.action1"
                 label="Browse"
                 style="push"
                 toolbarPath="aide"
                 tooltip="Open in explorer">
              <enablement>
                 <or>
                    <objectClass
                          name="org.eclipse.jdt.internal.core.CompilationUnit">
                    </objectClass>
                    <objectClass
                          name="org.eclipse.jdt.internal.core.PackageFragment">
                    </objectClass>
                    <objectClass
                          name="org.eclipse.core.resources.IFile">
                    </objectClass>
                    <objectClass
                          name="org.eclipse.ui.part.FileEditorInput">
                    </objectClass>
                    <objectClass
                          name="org.eclipse.jdt.internal.core.JavaProject">
                    </objectClass>
                    <objectClass
                          name="org.eclipse.jdt.internal.core.PackageFragmentRoot">
                    </objectClass>
                    <objectClass
                          name="org.eclipse.core.resources.IFolder">
                    </objectClass>
                    <objectClass
                          name="org.eclipse.core.internal.resources.Project">
                    </objectClass>
                 </or>
              </enablement>
           </action>
           
           
        </actionSet>
     </extension>
     <extension
           point="org.eclipse.ui.editors">
        <editor
              class="com.aide.editor.AideEditor"
              default="false"
              extensions="*"
              icon="icon/folder-open.gif"
              id="com.aide.explorer.aideeditor"
              name="aide">
        </editor>
     </extension>
     <extension
           point="org.eclipse.ui.commands">
        <command
              id="com.aide.explorer.command.OpenCommand"
              name="Open Command">
        </command>
        <command
              id="com.aide.explorer.Browse"
              name="Show In Windows Explorer">
        </command>
        <command
              id="com.aide.explorer.OpenManifest"
              name="Open Manifest">
        </command>
     </extension>
     <extension
           point="org.eclipse.ui.bindings">
        <key
              commandId="com.aide.explorer.command.OpenCommand"
              contextId="org.eclipse.ui.contexts.window"
              schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
              sequence="M3+.">
        </key>
        <key
              commandId="com.aide.explorer.Browse"
              contextId="org.eclipse.ui.contexts.window"
              schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
              sequence="M3+E">
        </key>
        <key
              commandId="com.aide.explorer.OpenManifest"
              schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
              sequence="M3+1">
        </key>
        
     </extension>
     <extension
           point="org.eclipse.jdt.ui.javaElementFilters">
        <filter
              class="com.aide.filter.ModifiedFileFilter"
              description="Show Modified Subversion Project Only"
              enabled="false"
              id="com.aide.explorer.modified.svnproject.modifiedonly.filter"
              name="Modified Subversion Project">
        </filter>
        <filter
              class="com.aide.filter.UnModifiedSvnProjectFilter"
              description="Show Unmodified Subversion Project Only"
              enabled="false"
              id="com.aide.explorer.modified.svnproject.showunmodified.filter"
              name="Unmodified Subversion Project">
        </filter>
     </extension>
   <!--
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="Aide"
            class="com.aide.preferences.AidePreferencePage"
            id="com.aide.actions.AideAction">
      </page>
   </extension>
-->
</plugin>
